{% extends 'base/base.html' %}
{% load static %}
{% block 'title' %}
<title>AutoMax . 
    {{ listing.model }}Listing </title>
{% endblock %}
{% block 'body' %}
<main>
    <section class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{{ listing.image.url }}" class="d-block mx-lg-auto img-fluid" width="1920" height="1080" loading="lazy">
            </div>
            <div class="col-lg-6">
                
            </div>
        </div>
    </section>
</main>
{% endblock %}